:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: rgb(0, 128, 128);

    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    --card-size: 2.4rem;
    --card-width-m: 14rem;
}

html {
    box-sizing: border-box; /* PARA QUE NO SE MODIFIQUE EL TAMAÑO DE LOS ELEMENTOS*/
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
    /* inherit from html, osea que todo lo que tenga box-sizing: border-box 
    se le aplicara a todos los elementos */
}

/* GLOBALES */
figure {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--hospital-green);
    font-size: var(--md);
}
a:hover {
    color: var(--dark);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    
}
p {
    font-size: var(--md);

}
img {
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* CREATE A NEW PASSWORD PAGE */
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    /* display: grid;
    grid-template-columns-row: auto 1fr auto;
    justify-items: center; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
    width: 30rem;
}

.logo {
    width: 15rem;

    margin-bottom: 4rem;
    justify-self: center;

    display: none;
}

.title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem 1.2rem 1.2rem 1.2rem;
}
.title-container h1{
    margin: 0;
}
.title-container img{
    transform: rotate(180deg);
}

.title {
    font-size: var(--lg);
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-align: center;
}

.subtitle {
    color: var(--dark);
    font-size: var(--md);
    font-weight: 500;
    margin-top: 0; 
    margin-bottom: 3.2rem; 
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.input {
    background-color: var(--text-input-field);
    border: 0.05rem solid var(--very-light-pink);
    border-radius: 0.8rem;
    height: 3.3rem;
    font-size: var(--md);
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}

.input-email {
    margin-bottom: 2.2rem;
}
.input-name,
.input-email,
.input-password {
    margin-bottom: 2.2rem;
}
.login-button {
    margin: 1.4rem 0 3rem 0;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    font-size: var(--md);
    font-weight: 700;
    width: 100%;
    padding: 1.2rem;
    cursor: pointer;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 0.8rem;
    border: 0.05rem solid var(--hospital-green);
    color: var(--hospital-green);
    font-size: var(--md);
    font-weight: 700;
    width: 100%;
    padding: 1.2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        display: block;
    }
}

/* EMAIL SEND PAGE */
.email-image {
    display: grid;
    place-items: center;

    width: 13.2rem;
    height: 13.2rem;
    background-color: var(--text-input-field);
    border-radius: 50%;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.email-image img {
    width: 8rem;
}
.form-container p {
    text-align: left;
    margin-bottom: 3.2rem;
    font-size: var(--sm);
}
.form-container a {
    text-align: center;
    margin-bottom: 3.2rem;
    font-size: var(--sm);
    font-weight: 700;
}

/* LOGIN */
.form a {
    font-weight: 700;
    margin-bottom: 5.2rem;
}


@media (max-width: 640px) {
    .logo {
        display: block;
    }
    .secondary-button {
        width: 300px;
        position: absolute; /* para que se ubique en relación al form*/
        bottom: 0; /* El borde inferior del botón estará alineado con el borde inferior de su elemento
         contenedor. */
        margin-bottom: 2.4rem;
    }
}


/* MY ACCOUNT */
.title-account {
    font-size: var(--lg);
    font-weight: 700;
    text-align: start;
    margin-top: 3.2rem;
}

.form-ac {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

@media (max-width: 640px) {
    .form-container {
        height: 100%;
    }
    .form-ac {
        height: 100%;
        justify-content: space-between;
    }
    .edit-button {
        margin-bottom: 2.4rem;
    }

}

.form-ac div {
    display: flex;
    flex-direction: column;
}


/* MY ACCOUNT */
.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 0.8rem 0 3.2rem 0;
}

/* HOME */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem); 
    /* las tarjetas se van a rellenar en la pantalla con un tamaño de 240px*/
    place-content: center;
    gap: 2rem;
}

.product-card {
    width: var(--card-width);
    margin-top: 1.2rem;
}

.product-card img {
    width: 100%;
    height: var(--card-width);
    object-fit: cover;
    border-radius: 20px;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem  ;
}

.product-info figure {
    margin: 0;
    padding: 0;
}
.product-info figure img {
    width: 3rem;
    height: 3rem;
}

.product-info div p:nth-child(1) { /* precios*/
    font-weight: 700;
    font-size: var(--md);
    margin: 0 0 0 .4rem;
}
.product-info div p:nth-child(2) { /* nombres de los productos*/
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin: 0;
}

@media (max-width: 640px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 14rem); /* las cards van a ser más pequeñas*/
    }
    .product-card {
        width: var(--card-width-m);
    }
    
    .product-card img {
        width: var(--card-width-m));
        height: var(--card-width-m);
        object-fit: cover;
        border-radius: 20px;
    }
}

/* MENU DESKTOP */
.desktop-menu {
    width: 15rem;
    height: auto;
    padding: 2rem 2rem 0 2rem;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
}

.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li:last-child {
    padding-top: 2rem;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--black);
    display: inline-block;
    margin-bottom: 1.2rem;
}

.desktop-menu ul li:not(:last-child) {
    font-weight: 700;

}

/* MENU MOBILE */
.mobile-menu {
    padding: 2.4rem;
}
.mobile-menu a {
    color: var(--black);
    font-weight: 700;
}

.mobile-menu ul{
    margin-top: 2.4rem;
}
.mobile-menu ul:nth-child(1){ /* se aplica un borde al final de las categorías*/
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul:last-child { /* mueve el último ul al final de la pantalla*/
    position: absolute;
    bottom: 0; /* El borde inferior del botón estará alineado con el borde inferior de su elemento
     contenedor. */
    margin-bottom: 2.4rem;
}
.mobile-menu ul li{ /* para la separación entre elementos de lista*/
    margin-bottom: 2.4rem;
}

.mobile-menu .email { /* para el email*/
    font-size: var(--sm);
    font-weight: 500;
    color: var(--very-light-pink);
}
.mobile-menu .sign-out { /* para el sign out*/
    font-size: var(--sm);
    /* font-weight: 500; */
    color: var(--hospital-green);
}

/* MY ORDER */
.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.title {
    font-size: var(--lg);
    margin-bottom: 4rem;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    width: 30rem;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: auto 1fr; */
    gap: 1.6rem;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 8px;
    padding: 1.6rem;
    margin-bottom: 2.4rem;
}

.order div {
    display: flex;
    flex-direction: column;
}
.order div p{
    margin: 0;
}
.order div p:first-child {
    font-size: var(--md);
    font-weight: 700;
}
.order div p:last-child {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.order .price{
    font-size: var(--md);
    font-weight: 700;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    align-items: center; /*centra los objetos horizontalmente*/
    margin-bottom: 2.4rem;
}
.shopping-cart figure img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 20px;
}
.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--lg);
}
.shopping-cart p:nth-child(3) {
    color: var(--black);
    font-size: var(--mg);
    font-weight: 700;
}

/* ORDERS */
.orders {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* display: flex;
    justify-content: space-around; */
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 1.2rem;
}

.orders div {
    display: flex;
    flex-direction: column;
}
.orders div p{
    margin: 0;
}
.orders div p:first-child {
    font-size: var(--md);
    font-weight: 700;
}
.orders div p:last-child {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.orders .price{
    font-size: var(--md);
    font-weight: 700;
    text-align: end;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 4rem;
    background-color: var(--white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.menu {
    display: none; /* oculta el menú en desktop */
}
.logo {
    margin: 0;
    display: flex;
    width: 10rem;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
.navbar-left, .items{
    display: flex;
    gap: 2.4rem;
}
.navbar-right ul{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.navbar-left ul,
.navbar-right ul {
    display: flex;
    martin-top: 2.4rem;
}

.navbar-left ul li a,
.navbar-right ul li a{
    border: 1px solid var(--white);
    color: var(--very-light-pink);
    border-radius: 8px;
    padding: .2rem .6rem;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    border-radius: 8px;
    padding: .2rem .6rem;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 2.4rem 2rem;
    }
    .navbar-left ul{
        display: none;
    }
    .menu {
        display: block;
    }
    .navbar-right .navbar-email{
        display: none;
    }
}

nav .navbar-right ul li span {
    position: relative; /* el span se va a ubicar de acuerdo al ul*/
    top: -1.5rem; /* para que el número se ubique en el centro del icono */
    font-size: var(--sm);
    background-color: var(--hospital-green);
    padding: .1rem .3rem;
    border-radius: 50%;
    font-weight: 700;
    color: var(--white);
}

/* PRODUCT-DETAILS */
.product-detail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 30rem;
    padding-bottom: 2.4rem;
    position: absolute;
    right: 0;
}
.product-detail > img:nth-child(1) { /* el primero hijo*/
    background-color: hsl(210, 29%, 24%);
    padding: 1rem;
    border-radius: 20px;
    position: absolute;
    top: .8rem; /*se ubican de acuero al padre (product-detail)*/
    left: .8rem;
    cursor: pointer;
}
.product-detail .product-image {
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.product-detail .product-infos .add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.product-infos {
    margin: 2.4rem 2.4rem 0 2.4rem;
}

.product-infos p {
    margin: 2rem 0 0 0 ;
    font-size: var(--md);
    font-weight: 700;
    margin: 0 0 .4rem 0;
}

.product-infos .titles {
    margin: 0 0 3rem 0;
    font-size: var(--md);
    color: var(--very-light-pink);
}
.product-infos .description {
    margin: 0 0 3rem 0;
    font-size: var(--md);
    color: var(--very-light-pink);
}

@media screen and (max-width: 768px) {
    .product-detail {
        width: 100%;
    }
    .product-detail > img:nth-child(1) {
        top: 0;
        left: 0;
    }
    
    .product-infos {
        margin: 2.4rem 1.2rem 0 1.2rem;
    }
}

/* CARRITO DE COMPRAS */
.orders {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: auto 1fr; */
    gap: 1.6rem;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 8px;
    padding: 1.6rem;
    margin-bottom: 2.4rem;
}

.orders div {
    display: flex;
    flex-direction: column;
}
.orders div p{
    margin: 0;
}
.orders div p:first-child {
    color: var(--black);
    font-size: var(--md);
    font-weight: 700;
}

.orders .price{
    font-size: var(--md);
    font-weight: 700;
}

.cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 1.6rem;
    align-items: center; /*centra los objetos horizontalmente*/
    margin: 2.4rem;
}
.cart figure img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 20px;
}
.cart p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--lg);
}
.cart p:nth-child(3) {
    color: var(--black);
    font-size: var(--mg);
    font-weight: 700;
}